@import "./variables.scss";

.portfolio-container {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color-secondary);

  h1,
  h2,
  h3 {
    color: var(--font-color-primary);
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3,
  h4,
  h5 {
    margin: 0 0 0.65rem 0;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    margin: 0.25rem 0 0.35rem 0;
    line-height: 1.4;
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.25rem 0 3.75rem 0;

    h2 {
      margin: 0 0 2.5rem 0;

      &:after {
        content: "";
        margin-top: 0.45rem;
        border-bottom: 1px solid var(--theme-primary);
        width: 50%;
        position: relative;
        height: 1px;
        display: block;
        left: 25%;
      }
    }

    .content-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      max-width: $content-width;
    }

    &.section-primary {
      background-color: var(--background-primary);
    }

    &.section-secondary {
      background-color: var(--background-secondary);
    }

    &.section-theme {
      background-color: var(--theme-background);

      h2,
      h3 {
        color: var(--font-light);
      }
    }

    &.section-dark {
      background-color: var(--dark);
      color: var(--font-light);
    }
  }
}

@media only screen and (max-width: $size-small) {
  .app-container {
    .content-container {
      margin: 0;
    }

    .section {
      padding: 1.5rem 0 2.25rem 0;
    }
  }
}
