@import "../../variables.scss";

.navbar-container {
  position: sticky;
  top: 0;
  padding: 10px;
  opacity: 0.85;
  background-color: var(--background-primary);
  z-index: 100;

  .navbar-content {
    max-width: $content-width;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .nav-item {
      color: var(--font-primary);

      &:not(:last-child) {
        padding-right: 1rem;
      }
    }
  }
}

@media only screen and (max-width: $size-small) {
  .navbar-container {
    display: none;
  }
}
